# Case Study - Country Club Part 2

In [1]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

## Questions:

#### Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select f.facid, f.name, (
            select sum(slots)
            from Bookings
            where memid = 0) * guestcost + (
            select sum(slots)
            from Bookings
            where memid != 0) * membercost as revenue
        from Bookings as b
        inner join Facilities as f
        on b.facid = f.facid
        where (
            select sum(slots)
            from Bookings
            where memid = 0) * guestcost + (
            select sum(slots)
            from Bookings
            where memid != 0) * membercost < 1000
        group by f.facid
        order by revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

#### Q11: Produce a report of members and who recommended them in alphabetic surname, firstname order

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select 
            m1.surname || ', ' || m1.firstname as member_name, m2.surname || ', ' || m2.firstname as recommended_by_this_member
        from Members as m1
        inner join Members as m2
        on m1.recommendedby = m2.memid
        where m1.recommendedby not like ''
        order by member_name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

#### Q12: Find the facilities with their usage by member, but not guests

In [4]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select f.name, m.firstname || ' ' || m.surname as member_name, sum(slots) as total_slots
        from Bookings as b
        inner join Facilities as f
        on b.facid = f.facid
        inner join Members as m
        on b.memid = m.memid
        where b.memid != 0
        group by b.facid, b.memid
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', 'Tracy Smith', 93)
('Tennis Court 1', 'Tim Rownam', 18)
('Tennis Court 1', 'Janice Joplette', 57)
('Tennis Court 1', 'Gerald Butters', 171)
('Tennis Court 1', 'Burton Tracy', 93)
('Tennis Court 1', 'Nancy Dare', 81)
('Tennis Court 1', 'Tim Boothe', 12)
('Tennis Court 1', 'Ponder Stibbons', 3)
('Tennis Court 1', 'Charles Owen', 51)
('Tennis Court 1', 'David Jones', 84)
('Tennis Court 1', 'Anne Baker', 18)
('Tennis Court 1', 'Jemima Farrell', 3)
('Tennis Court 1', 'Jack Smith', 75)
('Tennis Court 1', 'Florence Bader', 3)
('Tennis Court 1', 'Timothy Baker', 45)
('Tennis Court 1', 'David Pinker', 51)
('Tennis Court 1', 'Matthew Genting', 3)
('Tennis Court 1', 'Joan Coplin', 21)
('Tennis Court 1', 'Ramnaresh Sarwin', 15)
('Tennis Court 1', 'Douglas Jones', 27)
('Tennis Court 1', 'David Farrell', 18)
('Tennis Court 1', 'John Hunt', 12)
('Tennis Court 1', 'Erica Crumpet', 3)
('Tennis Court 2', 'Darren Smith', 57)
('Tennis Court 2', 'Tracy Smith', 6)
('Tennis Court 2', 'Tim Rownam', 18)
('Tennis Court 2', 'Janice Joplette', 24)
('Tennis Court 2', 'Gerald Butters', 9)
('Tennis Court 2', 'Burton Tracy', 9)
('Tennis Court 2', 'Nancy Dare', 33)
('Tennis Court 2', 'Tim Boothe', 168)
('Tennis Court 2', 'Ponder Stibbons', 96)
('Tennis Court 2', 'Charles Owen', 141)
('Tennis Court 2', 'David Jones', 99)
('Tennis Court 2', 'Anne Baker', 114)
('Tennis Court 2', 'Jemima Farrell', 3)
('Tennis Court 2', 'Jack Smith', 3)
('Tennis Court 2', 'Florence Bader', 24)
('Tennis Court 2', 'Timothy Baker', 21)
('Tennis Court 2', 'Ramnaresh Sarwin', 36)
('Tennis Court 2', 'Henrietta Rumney', 3)
('Tennis Court 2', 'David Farrell', 3)
('Tennis Court 2', 'Millicent Purview', 3)
('Tennis Court 2', 'John Hunt', 12)
('Badminton Court', 'Darren Smith', 432)
('Badminton Court', 'Tracy Smith', 102)
('Badminton Court', 'Tim Rownam', 12)
('Badminton Court', 'Gerald Butters', 63)
('Badminton Court', 'Burton Tracy', 6)
('Badminton Court', 'Nancy Dare', 30)
('Badminton Court', 'Tim Boothe', 36)
('Badminton Court', 'Ponder Stibbons', 48)
('Badminton Court', 'Charles Owen', 18)
('Badminton Court', 'David Jones', 24)
('Badminton Court', 'Anne Baker', 30)
('Badminton Court', 'Jemima Farrell', 21)
('Badminton Court', 'Jack Smith', 36)
('Badminton Court', 'Florence Bader', 27)
('Badminton Court', 'Timothy Baker', 21)
('Badminton Court', 'David Pinker', 21)
('Badminton Court', 'Anna Mackenzie', 96)
('Badminton Court', 'Ramnaresh Sarwin', 21)
('Badminton Court', 'Douglas Jones', 6)
('Badminton Court', 'Henry Worthington-Smyth', 15)
('Badminton Court', 'Millicent Purview', 6)
('Badminton Court', 'Hyacinth Tupperware', 3)
('Badminton Court', 'John Hunt', 6)
('Badminton Court', 'Erica Crumpet', 6)
('Table Tennis', 'Darren Smith', 56)
('Table Tennis', 'Tracy Smith', 56)
('Table Tennis', 'Tim Rownam', 150)
('Table Tennis', 'Janice Joplette', 18)
('Table Tennis', 'Gerald Butters', 2)
('Table Tennis', 'Burton Tracy', 48)
('Table Tennis', 'Nancy Dare', 10)
('Table Tennis', 'Tim Boothe', 8)
('Table Tennis', 'Ponder Stibbons', 6)
('Table Tennis', 'Charles Owen', 50)
('Table Tennis', 'David Jones', 22)
('Table Tennis', 'Anne Baker', 2)
('Table Tennis', 'Jemima Farrell', 24)
('Table Tennis', 'Jack Smith', 10)
('Table Tennis', 'Florence Bader', 86)
('Table Tennis', 'Timothy Baker', 48)
('Table Tennis', 'David Pinker', 34)
('Table Tennis', 'Matthew Genting', 54)
('Table Tennis', 'Anna Mackenzie', 32)
('Table Tennis', 'Joan Coplin', 46)
('Table Tennis', 'Ramnaresh Sarwin', 6)
('Table Tennis', 'Henry Worthington-Smyth', 6)
('Table Tennis', 'Millicent Purview', 14)
('Table Tennis', 'John Hunt', 2)
('Table Tennis', 'Erica Crumpet', 4)
('Massage Room 1', 'Darren Smith', 58)
('Massage Room 1', 'Tracy Smith', 12)
('Massage Room 1', 'Tim Rownam', 176)
('Massage Room 1', 'Janice Joplette', 24)
('Massage Room 1', 'Gerald Butters', 66)
('Massage Room 1', 'Burton Tracy', 62)
('Massage Room 1', 'Nancy Dare', 38)
('Massage Room 1', 'Tim Boothe', 76)
('Massage Room 1', 'Ponder Stibbons', 40)
('Massage Room 1', 'Charles Owen', 22)
('Massage Room 1', 'David Jones', 40)
('Massage Room 1', 'Anne Baker', 6)
('Massage Room 1', 'Jemima Farrell', 68)
('Massage Room 1', 'Jack Smith', 54)
('Massage Room 1', 'Timothy Baker', 50)
('Massage Room 1', 'David Pinker', 6)
('Massage Room 1', 'Matthew Genting', 52)
('Massage Room 1', 'Anna Mackenzie', 2)
('Massage Room 1', 'Joan Coplin', 2)
('Massage Room 1', 'Ramnaresh Sarwin', 16)
('Massage Room 1', 'Henry Worthington-Smyth', 2)
('Massage Room 1', 'Hyacinth Tupperware', 2)
('Massage Room 1', 'John Hunt', 6)
('Massage Room 1', 'Erica Crumpet', 4)
('Massage Room 2', 'Tim Rownam', 4)
('Massage Room 2', 'Janice Joplette', 4)
('Massage Room 2', 'Gerald Butters', 2)
('Massage Room 2', 'Nancy Dare', 10)
('Massage Room 2', 'Charles Owen', 4)
('Massage Room 2', 'David Jones', 8)
('Massage Room 2', 'Anne Baker', 4)
('Massage Room 2', 'Jack Smith', 2)
('Massage Room 2', 'Florence Bader', 4)
('Massage Room 2', 'Matthew Genting', 2)
('Massage Room 2', 'Joan Coplin', 4)
('Massage Room 2', 'Ramnaresh Sarwin', 6)
('Squash Court', 'Darren Smith', 30)
('Squash Court', 'Tracy Smith', 12)
('Squash Court', 'Janice Joplette', 30)
('Squash Court', 'Gerald Butters', 18)
('Squash Court', 'Burton Tracy', 78)
('Squash Court', 'Tim Boothe', 24)
('Squash Court', 'Ponder Stibbons', 4)
('Squash Court', 'Charles Owen', 14)
('Squash Court', 'David Jones', 16)
('Squash Court', 'Anne Baker', 110)
('Squash Court', 'Jemima Farrell', 16)
('Squash Court', 'Jack Smith', 22)
('Squash Court', 'Florence Bader', 4)
('Squash Court', 'Timothy Baker', 10)
('Squash Court', 'David Pinker', 6)
('Squash Court', 'Anna Mackenzie', 4)
('Squash Court', 'Joan Coplin', 2)
('Squash Court', 'Ramnaresh Sarwin', 4)
('Squash Court', 'Douglas Jones', 2)
('Squash Court', 'Henrietta Rumney', 4)
('Squash Court', 'David Farrell', 2)
('Squash Court', 'Millicent Purview', 2)
('Squash Court', 'Hyacinth Tupperware', 2)
('Squash Court', 'John Hunt', 2)
('Snooker Table', 'Darren Smith', 24)
('Snooker Table', 'Tracy Smith', 90)
('Snooker Table', 'Janice Joplette', 142)
('Snooker Table', 'Gerald Butters', 72)
('Snooker Table', 'Burton Tracy', 40)
('Snooker Table', 'Nancy Dare', 46)
('Snooker Table', 'Tim Boothe', 90)
('Snooker Table', 'Ponder Stibbons', 40)
('Snooker Table', 'Charles Owen', 44)
('Snooker Table', 'David Jones', 4)
('Snooker Table', 'Jemima Farrell', 44)
('Snooker Table', 'Jack Smith', 10)
('Snooker Table', 'Florence Bader', 66)
('Snooker Table', 'David Pinker', 32)
('Snooker Table', 'Matthew Genting', 2)
('Snooker Table', 'Anna Mackenzie', 14)
('Snooker Table', 'Joan Coplin', 20)
('Snooker Table', 'Ramnaresh Sarwin', 36)
('Snooker Table', 'Henrietta Rumney', 28)
('Snooker Table', 'David Farrell', 2)
('Snooker Table', 'Millicent Purview', 2)
('Snooker Table', 'Hyacinth Tupperware', 12)
('Pool Table', 'Darren Smith', 28)
('Pool Table', 'Tracy Smith', 64)
('Pool Table', 'Tim Rownam', 282)
('Pool Table', 'Janice Joplette', 27)
('Pool Table', 'Gerald Butters', 6)
('Pool Table', 'Burton Tracy', 30)
('Pool Table', 'Nancy Dare', 19)
('Pool Table', 'Tim Boothe', 26)
('Pool Table', 'Ponder Stibbons', 12)
('Pool Table', 'Charles Owen', 1)
('Pool Table', 'David Jones', 8)
('Pool Table', 'Anne Baker', 12)
('Pool Table', 'Jemima Farrell', 1)
('Pool Table', 'Jack Smith', 7)
('Pool Table', 'Florence Bader', 23)
('Pool Table', 'Timothy Baker', 95)
('Pool Table', 'David Pinker', 9)
('Pool Table', 'Matthew Genting', 18)
('Pool Table', 'Anna Mackenzie', 83)
('Pool Table', 'Joan Coplin', 11)
('Pool Table', 'Ramnaresh Sarwin', 13)
('Pool Table', 'Douglas Jones', 2)
('Pool Table', 'Henrietta Rumney', 3)
('Pool Table', 'David Farrell', 25)
('Pool Table', 'Henry Worthington-Smyth', 37)
('Pool Table', 'Millicent Purview', 5)
('Pool Table', 'Hyacinth Tupperware', 9)

#### Q13: Find the facilities usage by month, but not guests

In [5]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select f.facid, f.name, strftime('%m', starttime) as month, sum(slots) as total_slots
        from Bookings as b
        inner join Facilities as f
        on b.facid = f.facid
        where memid != 0
        group by b.facid, month
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', '07', 201)
(0, 'Tennis Court 1', '08', 339)
(0, 'Tennis Court 1', '09', 417)
(1, 'Tennis Court 2', '07', 123)
(1, 'Tennis Court 2', '08', 345)
(1, 'Tennis Court 2', '09', 414)
(2, 'Badminton Court', '07', 165)
(2, 'Badminton Court', '08', 414)
(2, 'Badminton Court', '09', 507)
(3, 'Table Tennis', '07', 98)
(3, 'Table Tennis', '08', 296)
(3, 'Table Tennis', '09', 400)
(4, 'Massage Room 1', '07', 166)
(4, 'Massage Room 1', '08', 316)
(4, 'Massage Room 1', '09', 402)
(5, 'Massage Room 2', '07', 8)
(5, 'Massage Room 2', '08', 18)
(5, 'Massage Room 2', '09', 28)
(6, 'Squash Court', '07', 50)
(6, 'Squash Court', '08', 184)
(6, 'Squash Court', '09', 184)
(7, 'Snooker Table', '07', 140)
(7, 'Snooker Table', '08', 316)
(7, 'Snooker Table', '09', 404)
(8, 'Pool Table', '07', 110)
(8, 'Pool Table', '08', 303)
(8, 'Pool Table', '09', 443)